body{
    color: white;
    font-family: Arial;
    margin:0px;
}

header{
    background-color: blueviolet;
    color:white;
    height:200px;
}

nav{
    background-color: cornflowerblue;
    width: 15%;
}

section{
background-color:indigo ;
    width: 70%;
}

aside{
background-color: darkmagenta;
    width: 15%;
}

footer{
    background-color: yellowgreen;
    height: 80px;
    clear:left;
}

nav, aside, section{
    float: left;
    height: 340px;
}