.borde {
    border-top: 30px solid #341c4c;
    border-bottom: 30px solid #341c4c;
}


.borde-logo {
    border: 3px solid #341c4c;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.imagen-centro {
    text-align: center;
    margin-right: 20px;
}

.imagen-subtitulo {
    margin-top: 10px;
    font-weight: bold;
}