body{
    text-align: center;
    background-color: cornsilk;
}


fieldset{
    width:625px;
    height:350px;
    background-color: antiquewhite;
    margin: auto;
}

#imagen{
    position: absolute;
    top: 45%;
    height: 400px;
    left:735px;
}