/*Pseudo Elementos*/

.parrafo::first-letter{
    font-size: 4em;
    font-weight: bold;
    margin-right: 5px;
    float:left;
}



/*Pseudo Elementos 2*/
.pseudoEle{
 border: 2px solid black;
 width: 10%;
 text-align: center;   
}

.pseudoEle::before{
    content: 'hola';
    background-color: cyan;
}

.pseudoEle::after{
    content:'Perú';
    background-color: yellow;
}



/*Pseudo Clases*/

div:hover{
    background-color: yellow;
}

p:hover{
    background-color: aqua;
}



/*Solo para selectores <a>*/
a:focus{
    color: green;
}

a:active{
    color:hotpink;
}